{% include "header.html" %}

{% block body %}

    <div class="container">
        <h1 class="text-center" style="font-size: 5vh; margin-top: 2rem; margin-bottom: 2rem;">Image Reader "Computer Vision: Python"</h1>
        <hr>


        <h4 class="text-center" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">OCR - "Optical Character Recognition"</h4>

        <hr>
        <br><br>
        <h2 class="text-center" style="margin-bottom: 2rem;">Put Image for scanning</h2>

        <div class="text-center">
            <form action="scanner" method=post enctype=multipart/form-data>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01" accept="image/*">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-raised btn-info">Scan Image</button>
            </form>
        </div>
    </div>

<!--
    <form action="scanner" method=post enctype=multipart/form-data>
        <input type="file" name="file">
        <input type="submit" value="Scan file">
    </form>
    <hr>
-->

{% if scanned %}
    <hr>
    <h1>Scanned results</h1>
{% endif %}
{% endblock body %}

{% include "footer.html" %}
